@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;  
    display: grid;
    grid-template-rows: repeat(20, 1fr);
}

.topbar {
    animation-name: top;
    position: relative;
    animation-duration: 3s;
    background-image: linear-gradient(blueviolet, blue);
    width: 100vw;
    text-decoration: line-through;
    grid-row: 1/4;
}

.underline {
    opacity: 0;
    animation-name: under;
    animation-fill-mode: forwards;
    position: relative;
    animation-duration: 3s;
    animation-delay: 3s;
    width: 100vw;
    height: 7px;
    background-color: black;
}

.main {
    grid-row: 5/20;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box1 {
    opacity: 0;
    height: 15vh;
    width: 20vw;
    background-color: blueviolet;
    margin: 5px;
    animation-name: boxes;
    animation-fill-mode: forwards;
    position: relative;
    animation-duration: 3s;
    animation-delay: 6s;
}

@keyframes top {
    0% {
        width: 0vw;
    }
    100% {
        width: 100vw;
    }
}
@keyframes under {
    0% {
        width: 0vw;
        opacity: 100%;
    }
    100% {
        width: 100vw;
        opacity: 100%;
    }
}
@keyframes boxes {
    0% {
        width: 0vw;
        opacity: 100%;
    }
    100% {
        width: 20vw;
        opacity: 100%;
    }
}